<!DOCTYPE html>
<html>
  <head>
    <title>JD Conecta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <a href="/users/sign_out" data-turbo-method="delete">Sair</a>
    <% else %>
      <a href="/cpf/verificar">Entrar</a>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
